<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" xmlns:c="http://java.sun.com/xml/ns/javaee"
>
<head>
<title>Calculator new</title>
</head>
<body>
   <h1>Calculator</h1>
   <div th:text= ${result}>
   </div>
   <div>
     <br />

   <!--   <c:url value="calculator.html" var="actionURL" />-->
     <!-- <form method="post" action="${actionURL}">-->
    <!--  <form method="post" action="calculator">-->

      <form method="post" >
         <div>
            <input type="number" name="number" value="0" />
            <br />
            <input type="submit" name="operation" value="+" />
            <input type="submit" name="operation" value="-" />
            <input type="submit" name="operation" value="*" />
            <input type="submit" name="operation" value="/" />
            <input type="submit" name="operation" value="C" />
         </div>
      </form>
   </div>
</body>
</html>